<% for (var index=0; index < data.length; index++) { %>
    <article>
        <h2>
            <%= data[index].name %>
        </h2>
        <img src="../../static/images/character-icon.png" alt="placeholder icon">
        <div>
            <p>
                <%= data[index].height %>
            </p>
            <p>
                <%= data[index].gender %>
            </p>
            <p>
                <%= data[index].eye_color %>
            </p>
            <p>
                <%= data[index].hair_color %>
            </p>
            <p>
                <%= data[index].birth_year %>
            </p>
            <p>
                <%= data[index].mass %>
            </p>
        </div>
    </article>
    <% } %>