<% characters.map(character=> { %>
    <article>
        <h2>
            <%= character.name %>
        </h2>
        <img src="/images/character-icon.png" alt="placeholder icon">
        <div>
            <p>
                Height: <span>
                    -=<%= character.height %>=-
                </span>
            </p>
            <p>
                Gender: <span>
                    -=<%= character.gender %>=-
                </span>
            </p>
            <p>
                Eye Color: <span>
                    -=<%= character.eye_color %>=-
                </span>
            </p>
            <p>
                Hair Color: <span>
                    -=<%= character.hair_color %>=-
                </span>
            </p>
            <p>
                Year of Birth: <span>
                    -=<%= character.birth_year %>=-
                </span>
            </p>
            <p>
                Weight: <span>
                    -=<%= character.mass %>=-
                </span>
            </p>
        </div>
    </article>
    <% }) %>