<% for (var index=0; index < data.length; index++) { %>
    <article>
        <h2>
            <%= data[index].name %>
        </h2>
        <img src="/images/character-icon.png" alt="placeholder icon">
        <div>
            <p>
                Height: <span>
                    -=<%= data[index].height %>=-
                </span>
            </p>
            <p>
                Gender: <span>
                    -=<%= data[index].gender %>=-
                </span>
            </p>
            <p>
                Eye Color: <span>
                    -=<%= data[index].eye_color %>=-
                </span>
            </p>
            <p>
                Hair Color: <span>
                    -=<%= data[index].hair_color %>=-
                </span>
            </p>
            <p>
                Year of Birth: <span>
                    -=<%= data[index].birth_year %>=-
                </span>
            </p>
            <p>
                Weight: <span>
                    -=<%= data[index].mass %>=-
                </span>
            </p>
        </div>
    </article>
    <% } %>