<article>
    <h2>
        <%= data[index].name %>
    </h2>
    <img src="../../static/assets/planet-icon.png" alt="placeholder icon">
    <div>
        <p>
            <%= data[index].climate %>
        </p>
        <p>
            <%= data[index].population %>
        </p>
        <p>
            <%= data[index].gravity %>
        </p>
        <p>
            <%= data[index].orbital_period %>
        </p>
        <p>
            <%= data[index].rotation_period %>
        </p>
        <p>
            <%= data[index].diameter %>
        </p>
        <p>
            <%= data[index].terrain %>
        </p>
    </div>
</article>