<% planets.map(planet=> { %>
    <article>
        <h2>
            <%= planet.name %>
        </h2>
        <!-- <img srcset="/images/planet-icon-320w.png 320w, /images/planet-icon-480w.png 480w, /images/planet-icon-640w.png 640w"
            sizes="(max-width: 480px) 320px, (max-width: 768px) 480px, (max-width: 1024px) 640px"
            src="/images/planet-icon-640w.png" alt="placeholder planet icon"> -->
        <img src="/images/planet-icon.svg" alt="placeholder planet icon">
        <div>
            <p>
                Climate:
                <span>
                    -=<%= planet.climate %>=-
                </span>
            </p>
            <p>
                Population:
                <span>
                    -=<%= planet.population %>=-
                </span>
            </p>
            <p>
                Gravity:
                <span>
                    -=<%= planet.gravity %>=-
                </span>
            </p>
            <p>
                Orbital Period:
                <span>
                    -=<%= planet.orbital_period %> days=-
                </span>
            </p>
            <p>
                Rotational Period:
                <span>
                    -=<%= planet.rotation_period %>h=-
                </span>
            </p>
            <p>
                Diameter:
                <span>
                    -=<%= planet.diameter %>km=-
                </span>
            </p>
            <p>
                Terrain:
                <span>
                    -=<%= planet.terrain %>=-
                </span>
            </p>
        </div>
    </article>
    <% }) %>