<% starships.map(starship=> { %>
    <article>
        <h2>
            <%= starship.name %>
        </h2>
        <!-- <img srcset="/images/starship-icon-320w.png 320w, /images/starship-icon-480w.png 480w, /images/starship-icon-640w.png 640w"
            sizes="(max-width: 480px) 320px, (max-width: 768px) 480px, (max-width: 1024px) 640px"
            src="/images/starship-icon-640w.png" alt="placeholder starship icon"> -->
        <img src="/images/starship-icon.svg" alt="placeholder starship icon">
        <div>
            <p>
                Length:
                <span>
                    -=<%= starship.length %>m=-
                </span>
            </p>
            <p>
                Crew:
                <span>
                    -=<%= starship.crew %>=-
                </span>
            </p>
            <p>
                Passangers:
                <span>
                    -=<%= starship.passengers %>=-
                </span>
            </p>
            <p>
                Manufacturer:
                <span>
                    -=<%= starship.manufacturer %>=-
                </span>
            </p>
            <p>
                Model:
                <span>
                    -=<%= starship.model %>=-
                </span>
            </p>
            <p>
                Speed:
                <span>
                    -=<%= starship.max_atmosphering_speed %>=-
                </span>
            </p>
        </div>
    </article>
    <% }) %>