<article>
    <h2>
        <%= data[index].name %>
    </h2>
    <img src="../../static/assets/starship-icon.png" alt="placeholder icon">
    <div>
        <p>
            <%= data[index].length %>
        </p>
        <p>
            <%= data[index].crew %>
        </p>
        <p>
            <%= data[index].passengers %>
        </p>
        <p>
            <%= data[index].manufacturer %>
        </p>
        <p>
            <%= data[index].model %>
        </p>
        <p>
            <%= data[index].class %>
        </p>
        <p>
            <%= data[index].max_atmosphering_speed %>
        </p>
    </div>
</article>