<html>

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <h1>Characters</h1>
        <div id="starWarsCharacters">
            <%- include('../partials/characterTile') %>
        </div>
        <h1>Starships</h1>
        <div id="starWarsStarships">
            <%- include('../partials/starshipTile') %>
        </div>
        <h1>Planets</h1>
        <div id="starWarsPlanets">
            <%- include('../partials/planetTile') %>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>